 h1 {
   font-size: 45px;
 }
@media(min-width: 375px ) {
  header {
    display: flex;
    justify-content: space-around;
    padding-top: 4rem;
  }

  .content  {
    width: 500px;
  }
  .content p {
    font-size: 20px;
  }
}