 @import 'variable';
 header {
   padding-left: $padding;
   padding-bottom: $padding;
 }
 h1 {
   padding-bottom: $padding;
 }
@media(min-width: 375px ) {
  header , #root {
    width: 100%;
    margin:0;
    padding-left: 0rem ;
  }
  .container , ul {
    max-width: 80% ;
    margin-inline-end: auto;
    margin-inline-start: auto;
    display: flex;
    justify-content: space-around;
    padding-top: $padding * 2;
  }

  .content  {
    width: 370px;
  }
  h2 {
    padding-bottom: $padding / 2 ;
  }
}