@import 'variable';
div {
  display: grid;
}
ul {
  display: grid;
  grid-template-areas: "firt second"
                        "third four"
                        "five  six" ;
  column-gap: $padding + 1;
  padding-left: $padding;
  padding-right: $padding;
}
.ImageOne { 
  grid-area: first ;
}

.ImageTwo {
 grid-area: second ;
 padding-top:$padding;
}

.ImageThree {
 grid-area: third ;
}

.ImageFour {
 grid-area: four ;
 padding-top: $padding;
}

.ImageFive {
 grid-area:five ;
}
.ImageSix {
 grid-area:six ;
 padding-top: $padding;
}

li > img {
  max-width: 100%;
  vertical-align: middle;
}

li {
  position: relative;
}
small {
  position: absolute;
  writing-mode: vertical-lr;
  right: -1rem;
  text-transform: uppercase;
}

ul > li:nth-of-type(2) small {
  top : $padding;
}
ul > li:nth-of-type(4) small {
  top : $padding;
}
ul > li:nth-of-type(6) small {
  top : $padding;
}

@media(min-width : 375px) {
  small {
   right: -1.5rem;
  }
  ul {
    display: grid;
    grid-template-areas: "firt second third"
                        "four five  six" ;
    padding-top: $padding;
    column-gap: $padding * 3;
  }
  .ImageFour {
    grid-area: four ;
    padding-top: 0;
   }
  .ImageFive {
    grid-area:five;
    padding-top: $padding * 2;
  }
  .ImageSix {
    grid-area:six ;
    padding-top: 0rem;
   }
   ul > li:nth-of-type(5) small {
    top : $padding * 2;
  }
  ul > li:nth-of-type(6) small {
    top : $padding;
  }
   ul > li:nth-of-type(4) small {
    top : 0rem;
  }
  ul > li:nth-of-type(6) small {
    top : 0rem;
  }
}
