div {
  display: grid;
}
ul {
  display: grid;
  grid-template-areas: "firt second"
                        "third four"
                        "five  six" ;
  column-gap: 3rem;
}
.ImageOne { 
  grid-area: first ;
}

.ImageTwo {
 grid-area: second ;
 padding-top: 2rem;
}

.ImageThree {
 grid-area: third ;
}

.ImageFour {
 grid-area: four ;
 padding-top: 2rem;
}

.ImageFive {
 grid-area:five ;
}
.ImageSix {
 grid-area:six ;
 padding-top: 2rem;
}

li > img {
  max-width: 100%;
  // width: 80vw;
  // height:calc(80vw * 476 / 694);
  vertical-align: middle;
  font-size: 25px;
}

li {
  position: relative;
}
small {
  position: absolute;
  // top: 0rem;
  writing-mode: vertical-lr;
  right: -1rem;
  text-transform: uppercase;
}

ul > li:nth-of-type(2) small {
  top : 2rem;
}
ul > li:nth-of-type(4) small {
  top : 2rem;
}
ul > li:nth-of-type(6) small {
  top : 2rem;
}



@media(min-width : 375px) {
  small {
   right: -1.5rem;
  }
  ul {
    display: grid;
    grid-template-areas: "firt second third"
                        "four five  six" ;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-left: auto;
    margin-right: auto;
    column-gap: 7rem;
  }
  .ImageFour {
    grid-area: four ;
    padding-top: 0;
   }
  .ImageFive {
    grid-area:five;
    padding-top: 4rem;
  }
  .ImageSix {
    grid-area:six ;
    padding-top: 0rem;
   }
   ul > li:nth-of-type(5) small {
    top : 4rem;
  }
  ul > li:nth-of-type(6) small {
    top : 2rem;
  }
   ul > li:nth-of-type(4) small {
    top : 0rem;
  }
  ul > li:nth-of-type(6) small {
    top : 0rem;
  }
}
