body, h1, h2, p {
  margin: 0; }

li {
  list-style: none; }

ul {
  padding-left: 0; }

p, h2 {
  font-size: 18px; }

h1 {
  font-size: 36px; }

header {
  padding-left: 2rem;
  padding-bottom: 2rem; }

h1 {
  padding-bottom: 2rem; }

@media (min-width: 375px) {
  header, #root {
    width: 100%;
    margin: 0; }
  .container, ul {
    max-width: 80%;
    margin-inline-end: auto;
    margin-inline-start: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 4rem; }
  .content {
    width: 370px; }
  h2 {
    padding-bottom: 1rem; } }

div {
  display: grid; }

ul {
  display: grid;
  grid-template-areas: "firt second" "third four" "five  six";
  column-gap: 3rem;
  padding-left: 2rem;
  padding-right: 2rem; }

.ImageOne {
  grid-area: first; }

.ImageTwo {
  grid-area: second;
  padding-top: 2rem; }

.ImageThree {
  grid-area: third; }

.ImageFour {
  grid-area: four;
  padding-top: 2rem; }

.ImageFive {
  grid-area: five; }

.ImageSix {
  grid-area: six;
  padding-top: 2rem; }

li > img {
  max-width: 100%;
  vertical-align: middle; }

li {
  position: relative; }

small {
  position: absolute;
  writing-mode: vertical-lr;
  right: -1rem;
  text-transform: uppercase; }

ul > li:nth-of-type(2) small {
  top: 2rem; }

ul > li:nth-of-type(4) small {
  top: 2rem; }

ul > li:nth-of-type(6) small {
  top: 2rem; }

@media (min-width: 375px) {
  small {
    right: -1.5rem; }
  ul {
    display: grid;
    grid-template-areas: "firt second third" "four five  six";
    padding-top: 2rem;
    column-gap: 6rem; }
  .ImageFour {
    grid-area: four;
    padding-top: 0; }
  .ImageFive {
    grid-area: five;
    padding-top: 4rem; }
  .ImageSix {
    grid-area: six;
    padding-top: 0rem; }
  ul > li:nth-of-type(5) small {
    top: 4rem; }
  ul > li:nth-of-type(6) small {
    top: 2rem; }
  ul > li:nth-of-type(4) small {
    top: 0rem; }
  ul > li:nth-of-type(6) small {
    top: 0rem; } }
